<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Master</title>
    <link rel="stylesheet" src="../public/weloveworksheets.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="undefined" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="/js/papaparse.min.js"></script>
    <script>
        function handleFileSelect(evt) {
            var file = evt.target.files[0];
            Papa.parse(file, {
                header: false,
                dynamicTyping: true,
                complete: function(results) {
                    data = results;
                    console.log(data);

                }
            });
        }

        $(document).ready(function() {
            $("#myfile").change(handleFileSelect);
        });
    </script>
</head>

<body class="bg-light">
    <!-- nav bar -->
    <div class="jumbotron bg-white text-dark shadow-sm round">
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-md-2 d-flex justify-content-center">
                    <!-- Hav to add logo and stuff -->
                    <img src="/img/logo.png" alt="" height="55px" width="55px" class="align-self-start mt-1 pl-5 ml-5">
                </div>
                <div class="col-md-7 d-flex justify-content-end">
                    <!-- navigation code from bootstrap lib -->
                    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                        <div class="container-fluid">

                            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="/dashboard">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/about">About us</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/files">Downloadables</a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-2 d-flex justify-content-center mt-2">
                    <ul class="navbar-nav">
                        <li class="nav-item ml-5">
                            <a href="/logout">
                                <button type="submit" class="btn text-pastel-purple px-4 rounded rounded-pill" style=" background-color: #51548C; color:white;">
                                    Log Out
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar ends here -->

    <div class="bigWrapper container-fluid">
        <div class="row">
            <!-- side nav bar starts here -->
            <div class="col-2 align-self-left bg-white shadow-sm mt-0 fullHeight py-3">
                <!-- <div class="d-flex justify-content-center"> <img src="/img/logo.png" alt="" height="75px" width="75px" class="align-self-center"></div> -->

                <h5 class=" text-pastel-purple pt-2 px-3">Navigations</h5>
                <ul class="nav flex-column pt-1 px-1">

                    <hr>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="#"><i class="bi bi-person-fill  text-secondary"></i>
                        Students</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/worksheet"><i
                            class="bi bi-file-earmark-word-fill text-secondary"></i> Worksheets</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/datatracking"><i class="bi bi-graph-up text-secondary"></i> Data
                        tracking</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/iep"><i class="bi bi-card-list text-secondary"></i> Iep
                        Info</a>
                    </li>
                </ul>
                <h5 class=" text-pastel-purple pt-4 px-3">Account</h5>
                <ul class="nav flex-column pt-1 px-1">
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="/profile"><i class="bi bi-person-circle text-secondary"></i>
                        Profile</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/logout"><i class="bi bi-box-arrow-in-left text-secondary"></i>
                        Sign out</a>
                    </li>
                </ul>
            </div>
            <!-- side bar ends here -->
            <div class="col-9 container mt-3">
                <div class="row d-flex justify-content-center align-items-center bg-white rounded shadow-sm">
                    <div class="jumbotron-fluid px-5 bg-dark text-white rounded d-flex justify-content-center align-items-center">
                        <p class="py-1 mt-1">Add student here</p>
                    </div>
                </div>
                <div class="row  bg-white rounded shadow-sm">
                    <div class="col-6 ">
                        <div class="container d-flex justify-content-center align-items-center">
                            <div class="row d-flex align-items-center mt-5">
                                <div class="col">
                                    <!-- here goes the Student input form -->
                                    <form action="/student/create" method="POST" class="m-0">

                                        <div class="row mb-1">
                                            <label for="firstname" class="col-sm-8 col-form-label">Student first
                                                name</label>
                                            <div class="col-sm-12">
                                                <input type="text" name="firstname" class="form-control" id="" placeholder="First name" required>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="lastname" class="col-sm-8 col-form-label">Student last
                                                name</label>
                                            <div class="col-sm-12">
                                                <input type="text" name="lastname" class="form-control" id="" placeholder="Last name" required>
                                            </div>
                                        </div>
                                        <div class="row mb-1">
                                            <label for="age" class="col-sm-8 col-form-label">Student Age</label>
                                            <div class="col-sm-12">
                                                <input type="number" name="age" class="form-control" id="" placeholder="In years" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="age" class="col-sm-8 col-form-label">Student Grade</label>
                                            <div class="col-sm-12">
                                                <input type="text" name="grade" class="form-control" id="" placeholder="Preprimary" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label for="age" class="col-sm-8 col-form-label">Student Roll Number</label>
                                            <div class="col-sm-12">
                                                <input type="text" name="rollno" class="form-control" id="" placeholder="31" required>
                                            </div>
                                        </div>
                                        <button type="submit" value="post" class="btn btn-success mt-3 text-center">Add
                                            Student</button>
                                    </form>
                                    <!-- the form ends here -->
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-1">
                        <hr style="width:1px;height: 500px; ">
                    </div>

                    <div class="col-5 py-3 px-5  border-left border-secondary mt-5">
                        <div class="container">
                            <div class="row">
                                <div class="col">

                                    <form action="/student/create-bulk" method="post" enctype="multipart/form-data">
                                        <div class="row my-2">
                                            <label for="myfile text-pastel-purple">
                                                <h3>Select a file:</h3>
                                            </label>
                                        </div>
                                        <div class="row my-2">
                                            <input type="file" id="myfile" name="file">
                                        </div>
                                        <div class="row mb-2 mt-1 text-secondary">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et deserunt pariatur tenetur exercitationem error </p>
                                        </div>
                                        <div class="row my-2">
                                            <button type="submit" value="post" class="btn btn-success mt-3 text-center">Add Students</button>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-12">
                                                <p>Download Sample CSV here</p>
                                            </div>
                                            <div class="col-12 mt-0">
                                                <a class="" target="_blank" rel="noopener noreferrer" href="https://drive.google.com/file/d/1JjcQ2YJ5-f_VZe1Z8EVlcmS8GdPT-3KA/view?usp=sharing" style="text-decoration: none;">Sample csv file</a>
                                            </div>

                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- the progress bar div starts here -->
                <div class="row bg-white rounded shadow-sm mt-3">
                    <div class="jumbotron-fluid px-5 bg-dark text-white rounded d-flex justify-content-center align-items-center">
                        <p class="py-1 mt-1">Your students</p>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="container my-3">
                            <div class="row mx-4">
                                <div class="col-5">
                                    <h4>Students List:</h4>
                                </div>

                            </div>
                        </div>

                        <!-- the progress bar designs here -->
                        <div class="container ml-4 mb-1 ">
                            <div id="s_list" class="row border border-light bg-white shadow rounded m-1 mx-3 p-3 d-flex align-items-center">


                                <% if(data.length> 0) { %>


                                    <div class="container">
                                        <% let j = 1; %>
                                            <% data.forEach(data=>{ %>
                                                <div class="row my-1">
                                                    <div class="col-1">
                                                        <%= j %>
                                                            <% j++; %>
                                                    </div>
                                                    <div class="col-6">
                                                        <%= data.full_name %>

                                                    </div>
                                                    <div class="col-3">
                                                        <span class="">
                                                                <%= data.age %> yrs
                                                                
                                                            </span>
                                                    </div>
                                                    <div class="col-1">
                                                        <div class="form-group">
                                                            <a class="btn btn-success edit" href="../student/edit/<%=data.sid%>">Edit</a>


                                                        </div>
                                                    </div>
                                                    <div class="col-1">
                                                        <div class="form-group">
                                                            <a class="btn btn-danger delete" onclick="return alert('Are You sure?')" href="../student/delete/<%=data.sid%>">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div>
                                                </div>

                                                <% }); %>

                                                    <% } %>


                                    </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
</body>

</html>