<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data tracking</title>

    <link rel="stylesheet" href="/css/weloveworksheets.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

</head>

<body class="bg-light">
    <!-- nav bar -->
    <div class="jumbotron bg-white text-dark shadow-sm round">
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-md-2 d-flex justify-content-center">
                    <!-- Hav to add logo and stuff -->
                    <img src="/img/logo.png" alt="" height="55px" width="55px" class="align-self-start mt-1 pl-5 ml-5">
                </div>
                <div class="col-md-7 d-flex justify-content-end">
                    <!-- navigation code from bootstrap lib -->
                    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                        <div class="container-fluid">

                            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="/dashboard">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/about">About us</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/files">Downloadables</a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-2 d-flex justify-content-center mt-2">
                    <ul class="navbar-nav">
                        <li class="nav-item ml-5">
                            <a href="/logout">
                                <button type="submit" class="btn text-pastel-purple px-4 rounded rounded-pill" style=" background-color: #51548C; color:white;">
                                Log Out
                            </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar ends here -->




    <div class="bigWrapper container-fluid">
        <div class="row">

            <!-- side nav bar starts here -->
            <div class="col-2 align-self-left bg-white shadow-sm mt-0 fullHeight py-3">
                <!-- <div class="d-flex justify-content-center"> <img src="/img/logo.png" alt="" height="75px" width="75px" class="align-self-center"></div> -->

                <h5 class=" text-pastel-purple pt-2 px-3">Navigations</h5>
                <ul class="nav flex-column pt-1 px-1">

                    <hr>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="#"><i class="bi bi-person-fill  text-secondary"></i>
                        Students</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/worksheet"><i
                            class="bi bi-file-earmark-word-fill text-secondary"></i> Worksheets</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/datatracking"><i class="bi bi-graph-up text-secondary"></i> Data
                        tracking</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/iep"><i class="bi bi-card-list text-secondary"></i> Iep
                        Info</a>
                    </li>
                </ul>
                <h5 class=" text-pastel-purple pt-4 px-3">Account</h5>
                <ul class="nav flex-column pt-1 px-1">
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="/profile"><i class="bi bi-person-circle text-secondary"></i>
                        Profile</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/logout"><i class="bi bi-box-arrow-in-left text-secondary"></i>
                        Sign out</a>
                    </li>
                </ul>
            </div>
            <!-- side bar ends here -->

            <div class="col-10 mt-2">
                <div class="col-12 pastel-purple text-shadow-sm text-center text-white p-1 mx-0 rounded">
                    <div class="container-fluid py-2">
                        <div class="row d-flex align-items-center">
                            <form action="/datatracking" method="post">
                                <div class="container">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-5">
                                            <select name="type" id="type" onchange="this.value" class="form-select pastel-purple border-white">
                                                <option value="Alphabet">Alphabet</option>
                                                <option value="Dolche Preprimary" >Dolche Pre Primary</option>
                                                <option value="Dolche primary">Dolche primary</option>
                                                <option value="Dolche Grade 1">Dolche Grade 1</option>
                                                <option value="Dolche Grade 2">Dolche Grade 2</option>
                                                <option value="Dolche Grade 3">Dolche Grade 3</option>
                                                <option value="Dolche Noun">Dolche Noun</option>
                                                <option value="Fry 1">Fry 1</option>
                                                <option value="Fry 2">Fry 2</option>
                                                <option value="Fry 3">Fry 3</option>
                                                <option value="Fry 4">Fry 4</option>
                                                <option value="Fry 5">Fry 5</option>
                                                <option value="Fry 6">Fry 6 <br> </option>
                                            </select>
                                        </div>
                                        <div class="col-3">
                                            <input id="date" name="date" type="date" class="form-date form-control pastel-purple" required>
                                        </div>
                                        <div class="col-3">
                                            <!-- <input id="type_res" name="type" type="hidden" value=""> -->
                                            <input name="name" type="hidden" value="<%= name %>">
                                            <input type="submit" class="pastel-purple text-white btm border border-white border-2 rounded rounded-pill px-5 py-2 align-self-end" value="Apply Filter">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>
                <br>
                <!-- after filters graph and stuff holder -->
                <div class="graphHolder">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- graph goes here -->
                            <div class="col-6">
                                <div class="container bg-white shadow-sm rounded">
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-center">
                                            <div id="chart" style="height: 400px; width: 400px; padding: 20px;">
                                                <canvas id="myChart" height="100px" width="100px"></canvas>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- graph ends here -->
                            <!-- correct words here -->
                            <div class="col-3">
                                <div class="container bg-white shadow-sm rounded ">
                                    <div class="row pt-2">
                                        <div class="col-12">
                                            <div class=" text-center pt-1">
                                                <h4 class="text-center text-pastel-green p-1">Correct</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <hr> <br>
                                    <div id="correct-scroll" class="overflow-auto text-center">
                                        <% if(word.length > 0) { %>
                                            <% word.forEach(word=>{ %>
                                                <% if(word.correct === 1){ %>
                                                    <p>
                                                        <%= word.word %>
                                                    </p>

                                                    <% }});}else{ %>

                                                        <p>
                                                            There's nothing to show here try submitting the worksheets:)
                                                        </p>
                                                        <%} %>
                                    </div>

                                </div>
                            </div>
                            <!-- end of correct words -->
                            <!-- start of incorrect words -->
                            <div class="col-3">
                                <div class="container bg-white shadow-sm rounded ">
                                    <div class="row pt-2">
                                        <div class="col-12">
                                            <div class=" text-center pt-1">
                                                <h4 class="text- center text-pastel-red p-1">Incorrect</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <hr> <br>

                                    <div id="incorrect-scroll" class="overflow-auto text-center">
                                        <% if(word.length > 0) { %>
                                            <% word.forEach(word=>{ %>
                                                <% if(word.incorrect === 1){ %>
                                                    <p>
                                                        <%= word.word %>
                                                    </p>

                                                    <% }});} else{ %>
                                                        <p>
                                                            There's nothing to show here try submitting the worksheets:)
                                                        </p>
                                                        <%} %>
                                    </div>

                                </div>
                            </div>
                            <!-- end of incorrect words -->
                        </div>
                    </div>
                </div>
                <!-- end of the graph holder -->
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script>
            // select option dynamic display

            document.getElementById('type').value = '<%= type %>';

            document.getElementById('date').value = '<%= date %>';
            if (!'<%= chart[0].correct %>') {
                var target = document.getElementById("chart");
                target.innerHTML += "<p>There's nothing to show here... Try submitting the worksheets:)</p>";
            }
            let correct = '<%= chart[0].correct %>';
            let incorrect = '<%= chart[0].incorrect%>';
            let mychart = document.getElementById('myChart').getContext('2d');
            let linechart = new Chart(mychart, {
                type: 'doughnut',
                data: {
                    labels: [
                        'Correct',
                        'Incorrect',
                    ],
                    datasets: [{
                        label: 'My First Dataset',
                        data: [correct, incorrect],
                        backgroundColor: [
                            'rgb(181, 103, 226)',
                            'lightgrey',

                        ],
                        hoverOffset: 4
                    }]
                }
            })
        </script>

        <script src="https://kit.fontawesome.com/ffcb45aa63.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>