<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worksheet</title>
    <link rel="stylesheet" href="/css/weloveworksheets.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- <script src="https://kit.fontawesome.com/e6ed065701.js" crossorigin="anonymous"></script> -->

</head>

<body class="bg-light" style="background-image:url(/img/blobs.svg) ;background-repeat: no-repeat; background-size:cover;">
    <!-- nav bar -->
    <div class="jumbotron bg-white text-dark shadow-sm round">
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-md-2 d-flex justify-content-center">
                    <!-- Hav to add logo and stuff -->
                    <img src="/img/logo.png" alt="" height="55px" width="55px" class="align-self-start mt-1 pl-5 ml-5">
                </div>
                <div class="col-md-7 d-flex justify-content-end">
                    <!-- navigation code from bootstrap lib -->
                    <nav class="navbar sticky-top navbar-expand-lg navbar-light">
                        <div class="container-fluid">

                            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link " aria-current="page" href="/dashboard">Dashboard</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Datatracking</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item " style="color:#51548C" href="/datatrackingandanalytics">Datatracking</a></li>
                                            <hr>
                                            <li><a class="dropdown-item" href="/student">Student</a></li>
                                            <li><a class="dropdown-item" href="/worksheet">Worksheet</a></li>
                                            <li><a class="dropdown-item" href="/datatracking">Analytics</a></li>



                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/iep">IEP</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/files">Worksheets</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/about">About us</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-2 d-flex justify-content-center mt-2">
                    <ul class="navbar-nav">
                        <li class="nav-item ml-5">
                            <a href="/logout">
                                <button type="submit" class="btn text-pastel-purple px-4 rounded rounded-pill" style=" background-color: #51548C; color:white;">
                                    Log Out
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- navbar ends here -->

    <div class="bigWrapper container-fluid">
        <div class="row">
            <!-- side nav bar starts here -->
            <div class="col-2 align-self-left bg-white shadow-sm mt-0 fullHeight py-3">
                <!-- <div class="d-flex justify-content-center"> <img src="/img/logo.png" alt="" height="75px" width="75px" class="align-self-center"></div> -->

                <h5 class=" text-pastel-purple pt-2 px-3">Data Tracking</h5>
                <ul class="nav flex-column pt-1 px-1">

                    <hr>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="/student"><i class="bi bi-person-fill  text-secondary"></i>
                    Students</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/worksheet"><i
                        class="bi bi-file-earmark-word-fill text-secondary"></i> Worksheets</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/datatracking"><i class="bi bi-graph-up text-secondary"></i>
                    Analytics</a>
                    </li>

                </ul>
                <h5 class=" text-pastel-purple pt-4 px-3">Account</h5>
                <ul class="nav flex-column pt-1 px-1">
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link active text-dark" href="/profile"><i class="bi bi-person-circle text-secondary"></i>
                    Profile</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="/logout"><i class="bi bi-box-arrow-in-left text-secondary"></i>
                    Sign out</a>
                    </li>
                </ul>
            </div>
            <!-- side bar ends here -->
            <div class="col-10 mt-2">
                <div class="col-12 pastel-purple text-shadow-sm text-center text-white p-1 mx-0 rounded">
                    <div class="container-fluid py-2">
                        <div class="row d-flex align-items-center">
                            <div class="col-5">
                                <!-- the nav for selecting Worksheets -->
                                <div class="dropdown pastel-purple">
                                    <a class="btn border border-white pastel-purple text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Select a Worksheet
                  </a>


                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="/worksheet/?type=1">Alphabets</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=2">Dolch Pre primary</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=3">Dolch primary</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=4">Dolch Grade 1</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=5">Dolch Grade 2</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=6">Dolch Grade 3</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=7">Dolch Noun </a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=8">Fry 1</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=9">Fry 2</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=10">Fry 3</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=11">Fry 4</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=12">Fry 5</a></li>
                                        <li><a class="dropdown-item" href="/worksheet/?type=13">Fry 6</a></li>
                                    </ul>
                                </div>
                                <!-- end of drop down -->
                            </div>
                            <div class="col-5">

                                <select id="student" onchange=url(this.value); class="form-select pastel-purple border-white " aria-label="Default select example">
                  <option selected>Select a student</option>
                  <% if(student.length> 0) { %>
                    <% student.forEach(student=>{ %>
                      <option value="<%= student.sid%>">
                        <%= student.full_name %>
                      </option>
                      <% }); %>
                        <% } %>
                </select>


                            </div>
                        </div>
                    </div>

                </div>



                <!-- this is the row thats holding the word cards -->
                <form id="response" action="" class="hide-submit" method="POST">
                    <div class="row">
                        <!-- working of the card -->
                        <% if(result.length> 0) { %>
                            <% result.forEach(result=>{ %>
                                <!-- This is the card -->
                                <div class="col-2 m-3 ">
                                    <div class="borderColorChange card bg-white shadow-sm rounded WorksheetTxt align-items-center ">
                                        <div class="words mt-5">
                                            <!-- the word thats actually going to change here  -->
                                            <div id="<%= result.id%>" class="cards" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">
                                                <h1 class="text-secondary" data-bs-toggle="tooltip" title="Click to popup">
                                                    <%= result.word%>
                                                </h1>
                                            </div>
                                            <input type="hidden" name="wordid" value="<%= result.id%>">
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-6 ">
                                                <label>
                                                     <!-- <input id="response" type="button" name="correct" value=""/> -->
                                                    <button id="correct<%= result.id%>" type="button" onclick="studentResponse('correct','response<%= result.id%>')">
                                                        <i class="correct togreen btn bi bi-emoji-laughing-fill fa-2x" style="color:rgb(181, 103, 226);">
                                                         <!-- <input type="hidden" name="correct"  value=""/> -->
                                                         </i>
                                                    <button>
                                                </label>
                                            </div>
                                            <input id="response<%= result.id%>" type="hidden" name="response" value="" />
                                            <div class="col-6">
                                                <label>
                                                    <!-- <input type = "button" onclick="test()"> -->
                                                     <!-- <input type="submit" name="incorrect"/> -->
                                                    <button id="incorrect<%= result.id%>" type="button" onclick="studentResponse('incorrect','response<%= result.id%>')">
                                                    <i class="incorrect tored btn bi bi-emoji-neutral-fill fa-2x" style="color:rgb(236, 108, 108);"></i></button></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of the card  -->
                                <% }); %>
                                    <% } %>

                    </div>


                    <% if(result.length> 0) { %>
                        <input type="submit" id="fixedbutton" style=" background-color: #51548C" class="btn btn-success btn-lg px-5" value="Submit">
                        <% } %>
                </form>

            </div>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content d-flex align-items-center" style="min-height:400px;">

                <div class="modal-body d-flex justify-content-center align-items-center">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-2 d-flex justify-content-center">
                            <i class="bi bi-arrow-left-circle-fill" style="font-size:30px" id="modal-left"> </i>
                        </div>
                        <!-- column that holds card start -->
                        <div class="col-8 d-flex justify-content-center align-items-center">
                            <div class="card d-flex justify-content-center align-items-center" style="width: 15rem; height:15rem;">
                                <div class="card-body d-flex align-items-center">
                                    <div class="container">

                                        <div class="row d-flex justify-content-center">
                                            <h1 id="modal-word" class="text-center text-secondary"></h1>
                                            <input id="" type="hidden" name="card-id" value="" />
                                        </div>
                                        <div class="row mt-2 d-flex justify-content-center align-items-center">
                                            <div class="col-6 ">
                                                <label>
                        <!-- <input id="response" type="button" name="correct" value=""/> -->
                        <button id="modal-correct" type="button" class="mx-0 px-0"> 
                        <i class="correct modal-togreen btn bi bi-emoji-laughing-fill fa-2x" style="color:rgb(181, 103, 226);">
                        </i></button>
                      </label>
                                            </div>
                                            <div class="col-6">
                                                <label>
                        <button id="modal-incorrect" type="button" class="mx-0 px-0">
                        <i class="incorrect modal-tored btn bi bi-emoji-neutral-fill fa-2x" style="color:rgb(236, 108, 108);"></i></button>
                    </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end of column that holds card -->
                        <div class="col-2 d-flex justify-content-center">
                            <i class="bi bi-arrow-right-circle-fill" style="font-size:30px" id="modal-right"> </i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="pastel-purple">
        <div>
            <div class="container mt-5"> <br>
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-6 text-white d-flex py-5" style="justify-content: space-between;">
                        <a href="/Terms and Conditions.pdf" class="text-white" style="text-decoration: none;" target="_blank">Terms and conditions</a>
                        <a href="/returnspolicy.pdf" class="text-white" style="text-decoration: none;" target="_blank">Returns Policy</a>
                        <a href="/Privacy Policy.pdf" class="text-white" style="text-decoration: none;" target="_blank">Privacy Policy</a>
                    </div>

                </div>
            </div>
        </div>
    </footer>




    <!-- put this at the end before body ends -->
    <script>
        function studentResponse(type, id) {
            if (type === 'correct') {
                document.getElementById(id).value = true;
                console.log(type, id)
            } else {
                document.getElementById(id).value = false;
            }
        }
        // document.getElementById("togreen").onclick = function () {
        //   document.getElementByClass("borderColorChange").style.borderColor = 'rgb(150, 212, 99)';
        //   document.getElementByClass("borderColorChange").style.backgroundColor = 'rgb(150, 212, 99)';
        // }
        // document.getElementById("tored").onclick = function () {
        //   document.getElementsByClass("borderColorChange").style.borderColor = 'rgb(236, 108, 108)';
        // }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Under Jquery cdn path -->
    <script>
        // $(".togreen").click(function() {
        //     $(this).parent().parent().parent().parent().parent().css({
        //         "border": "solid",
        //         "border-color": "rgb(181, 103, 226)"
        //     });
        // });
        // $(".tored").click(function() {
        //     $(this).parent().parent().parent().parent().parent().css({
        //         "border": "solid",
        //         "border-color": "rgb(236, 108, 108)"
        //     });
        // });
        $(".cards").click(function() {
            $(this).css({
                "cursor": "pointer"
            })
            var id = this.id;
            var word = $(this).children().text();
            $("#modal-word").text(word);
            $("input[name='card-id']").val(id);
            console.log($("input[name='card-id']").val());
        });

        $("#modal-correct").click(function() {
            var cardId = $("input[name='card-id']").val();
            console.log(cardId);
            $("#" + cardId).parent().parent().css({
                "border": "none",
                "border": "solid",
                "border-color": "rgb(181, 103, 226)"
            });
            $("#response" + cardId).val(true);
            console.log($("#response" + cardId).val())
            $("#modal-right").trigger("click");
        })

        $("#modal-incorrect").click(function() {
            var cardId = $("input[name='card-id']").val();
            console.log(cardId);
            $("#" + cardId).parent().parent().css({
                "border": "none",
                "border": "solid",
                "border-color": "rgb(236, 108, 108)"
            });
            $("#response" + cardId).val(false);
            console.log($("#response" + cardId).val());

            $("#modal-right").trigger("click");
        })

        $("#modal-left").click(function() {

            $(".modal-togreen").parent().parent().parent().parent().parent().parent().css({
                "border": "none",
            })
            console.log("Hey left")
            var currentWord = $("input[name='card-id']").val();
            previousWord = parseInt(currentWord) - 1;
            $("input[name='card-id']").val(previousWord);
            console.log(previousWord)
            var word = $("#" + previousWord).children().text();
            console.log(word)

            $("#modal-word").text(word);

        });


        $("#modal-right").click(function() {
            $(".modal-tored").parent().parent().parent().parent().parent().parent().css({
                "border": "none",
            });

            console.log("Hey right")
            var currentWord = $("input[name='card-id']").val();
            previousWord = parseInt(currentWord) + 1;
            $("input[name='card-id']").val(previousWord);
            console.log(previousWord)
            var word = $("#" + previousWord).children().text();
            console.log(word)
            $("#modal-word").text(word);

        })


        $(".togreen").click(function() {
            $(this).parent().parent().parent().parent().parent().css({
                "border": "solid",
                "border-color": "rgb(181, 103, 226)"
            });
        });

        $(".modal-togreen").click(function() {
            $(this).parent().parent().parent().parent().parent().parent().css({
                "border": "solid",
                "border-color": "rgb(181, 103, 226)"
            });
        });

        $(".tored").click(function() {
            $(this).parent().parent().parent().parent().parent().css({
                "border": "solid",
                "border-color": "rgb(236, 108, 108)"
            });
        });

        $(".modal-tored").click(function() {
            $(this).parent().parent().parent().parent().parent().parent().css({
                "border": "solid",
                "border-color": "rgb(236, 108, 108)"
            });
        });

        function studentResponse(type, id) {
            if (type === 'correct') {
                document.getElementById(id).value = true;
                console.log(type, id)
            } else {
                document.getElementById(id).value = false;
            }
        }
    </script>

    <script src="/js/worksheet.js"></script>
    <script src="https://kit.fontawesome.com/ffcb45aa63.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>

</html>